
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

img {
    width: 75%;
    height: 75%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px;

}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}